.section-donate {
	background-image: url("/assets/asset 9.jpeg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 645px;
	background-color: #aaa;
}
.section-about {
	background-color: #fff;
}
.section-about img {
	width: 570px;
}
.section-help {
	background-color: #f9f9f9;
	padding: 90px 0;
}
.section-volunteer {
	background-color: #fff;
	padding: 90px 0;
}
.section-volunteer h2.right {
	text-align: right;
}
.section-volunteer img {
	width: 100%;
}
.section-upcoming {
	background-color: #fff;
	padding: 90px 0;
}
.img-group {
	display: flex;
	justify-content: space-between;
	padding: 55px 0 0;
}
.section-area {
	display: flex;
	align-items: center;
	height: inherit;
	width: 1200px;
	padding: 0 15px;
	margin: auto;
	box-sizing: border-box;
	justify-content: space-between;
}
.section-area.block {
	display: block;
	text-align: center;
}
.section-area p.desc-24 {
	font-size: 24px;
	color: #535353;
}
.section-area p.section-description {
	font-size: 14px;
	color: #8d8d8d;
}
.section-area h1 {
	font-size: 80px;
	color: #7abee9;
}
.section-area h2 {
	font-size: 50px;
	color: #535353;
}
.section-area h3 {
	font-size: 30px;
	color: #7abee9;
}
.section-btn {
	padding: 40px 0 0;
}
.section-btn button {
	background-color: #f93;
	border: 2px solid #f93;
	padding: 20px 54px;
	color: #fff;
	font-size: 14px;
}
#asset10 {
	background-image: url("/assets/asset 10.jpeg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 451px;
}
#asset11 {
	background-image: url("/assets/asset 11.jpeg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 451px;
}
#asset12 {
	background-image: url("/assets/asset 12.jpeg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 451px;
}
#asset13 {
	background-image: url("/assets/asset 13.jpeg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 392px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 90px;
}
.img-group a {
	text-decoration: none;
	font-size: 34px;
	color: #fff;
	margin: 0 0 40px;
}
.img-group a:hover {
	color: #f93;
}
.img-cover {
	width: 370px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}
.img-group .img-cover:hover {
	background: #000000aa;
}
.section-temp {
	height: 400px;
	background-color: #ccc;
}
.section-block {
	height: 20px;
	background-color: #f93;
}
.section-blank {
	height: 697px;
	background-color: #fff;
}
.invisible {
	background-color: transparent;
}
