* {
	padding: 0;
	margin: 0;
	font-size: 20px;
}

body {
	background-image: url("/assets/asset\ 15.jpeg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.hover-black button:hover {
	background-color: #000;
	border: 2px solid #000;
	color: #fff;
}
.hover-blue button:hover {
	background-color: #7abee9;
	border: 2px solid #7abee9;
	color: #fff;
}
#contact-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80px;
	height: 80px;
	text-decoration: none;
	background-color: #fff;
	border-radius: 40px;
	position: fixed;
	bottom: 20px;
	left: 20px;
	box-shadow: 0 4px 10px 0 #2e3a465b;
}
#contact-btn i {
	font-size: 45px;
}
