* {
	padding: 0;
	margin: 0;
	font-size: 20px;
}

.hover-black button:hover,
.hover-black a:hover {
	background-color: #000;
	border: 2px solid #000;
	color: #fff;
}
.hover-blue button:hover,
.hover-blue a:hover {
	background-color: #7abee9;
	border: 2px solid #7abee9;
	color: #fff;
}
#contact-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80px;
	height: 80px;
	text-decoration: none;
	background-color: #fff;
	border-radius: 40px;
	position: fixed;
	bottom: 20px;
	left: 20px;
	box-shadow: 0 4px 10px 0 #2e3a465b;
}
#contact-btn i {
	font-size: 45px;
}
#go-top-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 58px;
	height: 58px;
	text-decoration: none;
	background-color: #f93;
	border-radius: 2px;
	position: fixed;
	bottom: 80px;
	right: 20px;
}
#go-top-btn i {
	font-size: 18px;
	color: #fff;
}
.brand {
	display: flex;
	align-items: center;
	justify-content: center;
}
.brand a {
	text-decoration: none;
	font-size: 50px;
	font-weight: 700;
	margin: 0 25px;
}
.social-media-group {
	display: flex;
	justify-content: center;
}
.social-media-group i {
	color: inherit;
	font-size: inherit;
}
.social-media-group a {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: #272626;
	background-color: #fff;
}
.social-media-group a.reverse {
	color: #fff;
	background-color: #272626;
}
.social-media-group a.i-square {
	border-radius: 2px;
}
.social-media-group a.i-circle {
	border-radius: 9999px;
}
.social-media-group a.i-medium {
	width: 56px;
	height: 56px;
	font-size: 22px;
	margin: 0 4px;
}
.social-media-group a.i-small {
	width: 20px;
	height: 20px;
	font-size: 5px;
	margin: 0 2.5px;
}
#social-twitter {
	background-color: #00aeef;
}
#social-facebook {
	background-color: #547cd5;
}
#social-pinterest {
	background-color: #c30;
}
#social-linkedin {
	background-color: #0075b6;
}
.hov-org:hover {
	color: #f93;
}
.hov-bg-org:hover {
	background-color: #f93;
}
.hov-bg-opacity:hover {
	opacity: 0.8;
}
.fas {
	color: #f93;
	font-size: inherit;
}
