header .row {
	align-items: center;
}
.top-header {
	background-color: #679509;
	color: #fff;
	padding: 6px 0;
}
#message {
	color: inherit;
	font-size: 14px;
}
#member-options {
	color: inherit;
	font-size: 12px;
}
#member-options li {
	padding: 0 17px;
	color: #f0f0f0;
	cursor: pointer;
}
#member-options li:hover {
	color: #c7ed79;
}
#member-options li + li {
	border-left: 1px solid;
}
.menu-header {
	background-color: #fff;
	padding: 4px 0;
}
.menu-header a {
	color: inherit;
	padding: 0 17px;
	font-size: 14px;
	font-weight: 600;
}
.menu-header a:hover {
	color: #86ae34;
}
