$primary-color: #aecbfa;
$secondary-color: #d2e3fc;
$hover-color: #f1f3f4;
$active-color: #d4efdf;
$primary-text-color: #185abc;
$muted-text-color: #6c757d;
$blue-tag-color: #3498db;
$green-tag-color: #2ecc71;
$yellow-tag-color: #f1c40f;
$orange-tag-color: #e67e22;
$purple-tag-color: #9b59b6;
$red-tag-color: #e74c3c;

$tag-colors: (
	"blue": $blue-tag-color,
	"green": $green-tag-color,
	"yellow": $yellow-tag-color,
	"orange": $orange-tag-color,
	"purple": $purple-tag-color,
	"red": $red-tag-color,
);

:root {
	--primary-color: #{$primary-color};
	--secondary-color: #{$secondary-color};
	--hover-color: #{$hover-color};
	--active-color: #{$active-color};
	--primary-text-color: #{$primary-text-color};
	--blue-tag-color: #{$blue-tag-color};
	--green-tag-color: #{$green-tag-color};
	--yellow-tag-color: #{$yellow-tag-color};
	--orange-tag-color: #{$orange-tag-color};
	--purple-tag-color: #{$purple-tag-color};
	--red-tag-color: #{$red-tag-color};
}
