@import "./variables";
@import "./calendar";
@import "./tags";
@import "./toggle";
@import "./scroll";

.expend-line {
	height: 2px;
	width: 100%;
	background-color: #eee;
}

// body::after{
// 	content: "A";
// 	text-align: center;
// 	display: block;
// 	width: 30px;
// 	height: 30px;
// 	position: absolute;
// 	bottom: 10px;
// 	right: 10px;
// 	background: url(/site/assets/avatar.png);
// 	// background-color: pink;
// 	border-radius: 50%;
// }