#section-add-to-cart {
	background-image: url("/HTML/assets/03_assets/bg1.jpg");
	background-position: left;
	background-repeat: no-repeat;
	background-size: cover;
	/* height: 831px; */
	padding: 231px 0 240px;
}
#section-add-to-cart h1 {
	margin-bottom: 26px;
}
#section-add-to-cart h3 {
	margin-bottom: 40px;
}
#section-farm {
	padding: 59px 0 13px;
}
#section-farm h2 {
	color: #86ae34;
	margin-bottom: 57px;
}
#section-farm .info-group {
	margin-bottom: 94px;
}
#section-farm .info {
	padding: 0 20px;
}
#section-farm .info img {
	margin-bottom: 35px;
}
#section-products1 {
	padding: 69px 0 46px;
}
#section-products1 h3 {
	margin-bottom: 18px;
}
#categories {
	margin-bottom: 52px;
	display: flex;
	justify-content: center;
}
#categories div {
	padding: 10px 19px;
	margin: 0 2.5px;
	cursor: pointer;
}
#categories div.active,
#categories div:hover {
	color: #86ae34;
	font-weight: 900;
}
#section-products1 .product {
	width: 270px;
	padding: 0 20px;
}
#section-products2 .product {
	width: 373.333px;
	padding: 0 20px;
}
#section-products2 .product h5 {
	font-size: 32px;
	margin-bottom: 44px;
}
.product .img-a {
	display: block;
	padding: 10px;
	margin-bottom: 12px;
	border: 1px solid #f0f0f0;
}
.product .img-a2 {
	display: inline-block;
	padding: 5px;
	border: 1px solid #f0f0f0;
	margin-right: 20px;
}
#section-products1 img {
	width: 100%;
}
.product-content p {
	color: #333;
	font-size: 15px;
}
.product-content p.size-sm {
	font-size: 14px;
	margin-bottom: 5px;
}
.product-content .price {
	color: #86ae34;
	font-size: 20px;
}
.product-content .price del {
	color: #a5a5a5;
	font-size: 14px;
}
.product-categories li {
	font-size: 12px;
	color: #86ae34;
	display: inline;
	cursor: pointer;
}
.product-categories.size-m li {
	font-size: 16px;
}
.product-categories li:hover {
	color: #1e1d24;
}
.product-categories li:not(:last-child)::after {
	content: ",";
}
.btn-block {
	display: flex;
	font-size: 17px;
	margin: 3px -5px;
}
.btn-block a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	color: #333;
	margin: 0 5px;
}
.btn-block a:hover {
	background-color: #86ae34;
	color: #f0f0f0;
}
#section-shop {
	background-image: url("/HTML/assets/03_assets/banners2.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/* height: 652px; */
	padding: 189px 0 200px;
}
#section-shop h1 {
	margin-bottom: 25px;
}
#section-shop h3 {
	margin-bottom: 43px;
}
#section-composition {
	padding: 143px 20px 100px;
}
#section-composition .info-group {
	display: flex;
	flex-direction: column;
	padding: 0 20px;
}
#section-composition .info {
	margin: 30px 0;
}
#section-blog {
	background-image: url("/HTML/assets/03_assets/bg4.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/* height: 787px; */
	padding: 163px 0 83px;
}
#section-blog h3 {
	margin-bottom: 32px;
}
#section-blog .posts {
	padding-bottom: 45px;
}
#section-blog .post {
	padding: 10px 0;
}
#section-blog .post-img {
	margin-bottom: 23px;
}
#section-blog .post-content button {
	margin-bottom: 22px;
}
#section-blog .post-content h5 {
	font-size: 18px;
	font-weight: 600;
	font-family: "PT Sans", sans-serif;
}
#section-blog .post-content .post-meta {
	font-size: 12px;
	line-height: 1.75;
	font-weight: 400;
	padding-bottom: 7px;
}
#section-blog .post-content .post-meta span:not(:first-child)::before {
	content: "-";
	margin: 0 5px;
	/* display: inline-block; */
}
#section-blog .post-content .post-meta .post-meta-item.pmi-date {
	color: #86ae34;
}
#section-products2 {
	padding: 50px 0 40px;
}
#section-clients {
	background-image: url("/HTML/assets/03_assets/bg5.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/* height: 651px; */
	padding: 186px 0 130px;
}
#section-clients h3 {
	padding-bottom: 42px;
}
#section-clients p {
	color: #fff;
}

#section-subscribe {
	padding: 57px 0 65px;
}
#section-subscribe h3 {
	margin-bottom: 42px;
}
#subscribe {
	margin: 0 26%;
}
#subscribe.row {
	align-items: center;
}
#subscribe input {
	flex: 5 0 auto;
}
#btn-subscribe {
	padding: 14px 3px;
	margin: 5px 7px;
	font-size: 16px;
	font-weight: 400;
	flex: 1 0 auto;
}
footer {
	background-image: url("/HTML/assets/03_assets/footer-widgets-bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/* height: 466px; */
	padding: 155px 0 91px;
	color: #79787f;
	font-size: 15px;
	font-weight: 300;
}
footer .web-section {
	margin-bottom: 40px;
}
footer .section-title {
	color: #4f4f4f;
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 15px;
	font-family: Pacifico, handwriting;
}
footer li {
	margin-top: 5px;
}
footer i {
	color: #86ae34;
	padding-right: 10px;
}
