.title-blank {
	background-color: #1e1e1e;
	/* background-color: #2e2e2e; */
	color: #eee;
	text-align: center;
	padding: 50px 0;
	width: 100%;
}
.title-blank h1 {
	font-size: 60px;
}
.title-blank h2 {
	font-size: 40px;
}
.red-box1 {
	border: 1px solid #e80000;
}
.red-box2 {
	border: 2px solid #e80000;
	/* border: 2px solid #474747; */
}
.blue-box1{
    border: 1px solid #36e;
}
.purple-cube{
    /* border: 1px solid #525abd; */
    background-color: #525abd;
    color: #eee;
}
.attr-color1 {
	color: #36e;
	/* color:#618AA6; */
}
.attr-color2 {
	color: #ee7d25;
	/* color:#e2bd44; */
}
