.item {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 500px;
    margin: 0 50px;
    padding: 20px 0;
}
.item h3 {
    width: inherit;
    color: #36e;
    /* color: #618AA6; */
    font-size: 25px;
}
.item h3::after {
    content: " :";
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    width: inherit;
    border: 2px solid #e80000;
    /* border: 2px solid #474747; */
}