.item h3 {
	color: #36e;
	/* color: #618AA6; */
	font-size: 25px;
}
.item h3::after {
	content: " :";
}
p{
    color: #666;
    font-size: 20px;
}
label {
	margin-left: 5px;
	color: #666;
}
input:checked + label {
	/* background-color: yellowgreen; */
	color: #ee7d25;
	/* color: #e2bd23 */
	font-weight: bold;
}
.wrap {
	display: flex;
	flex-wrap: wrap;
}
.box{
    min-height: 100px;
    font-size: 20px;
}
.cube {
	width: 100px;
	height: 100px;
	background-color: #525abd;
	color: #eee;
	/* background-color: #474747; */
	margin: 5px;
	font-size: 50px;
	line-height: 100px;
}
.inline-cube{
    display: inline-block;
    background-color: #525abd;
    color: #eee;
    height: 100px;
    padding: 0 3px;
    line-height: 100px;
}
.inline-cube.reference{
    height: 200px;
    line-height: 200px;
}
