.container {
	width: 960px;
	margin: auto;
	position: relative;
}
.content {
	position: relative;
	width: 695px;
	height: 430px;
	margin: 0px 195px 240px;
	padding: 120px 0;
}
.content.opposite {
	margin: 0 70px 240px;
}
.content::after {
	display: block;
	content: " ";
	width: 439px;
	height: 290px;
	background-color: #f4f4f4;
	position: relative;
	top: -550px;
	left: 325px;
	z-index: -1;
}
.content.opposite::after {
	width: 518px;
	height: 413px;
	top: -535px;
	left: 260px;
}
h2 {
	display: inline-block;
	font-size: 50px;
	font-weight: 300;
}
.info-box {
	width: 355px;
	min-height: 360px;
	position: absolute;
	top: 0px;
	left: -195px;
	z-index: 2;
}
.content.opposite .info-box {
	right: -195px;
	left: auto;
}
.info-title {
	background-color: #bb0504;
	color: #fff;
	height: 120px;
	display: flex;
	align-items: center;
}
.content.opposite .info-title {
	flex-direction: row-reverse;
}
.info-title span:first-of-type {
	font-size: 110px;
	font-weight: 200;
	transform: rotate(90deg);
}
.info-content {
	background-color: #000;
	color: #fff;
	min-height: 200px;
	padding: 20px;
}
.info-content h3 {
	font-weight: 600;
	font-size: 25px;
	padding: 8px 0;
}
.info-content p {
	font-weight: 300;
	font-size: 20px;
	line-height: 1.5;
	letter-spacing: 2px;
}
.detail-box {
	background-color: #eee;
	width: 682px;
	padding: 20px;
	position: absolute;
	top: 517px;
	left: -145px;
	z-index: 2;
}
.content.opposite .detail-box {
	right: -195px;
	left: auto;
}
.detail-box h3 {
	display: inline-block;
	color: #bb0504;
	font-weight: 600;
	font-size: 23px;
	margin-right: 6px;
}
.detail-box .detail-header {
	display: flex;
	align-items: center;
	padding-bottom: 15px;
}
.line {
	content: "";
	display: inline-block;
	flex-grow: 1;
	height: 2px;
	background-color: #bb0504;
}
.detail-box .detail-content h4 {
	display: inline-block;
	color: #fff;
	background-color: #000;
	padding: 5px;
	border-radius: 3px;
	margin: 5px 0;
	font-size: 20px;
}
.detail-box .detail-content p {
	color: #333;
	font-size: 18px;
}

/*-------position-------*/

.play-btn {
	position: relative;
	top: -215px;
	left: 652px;
	z-index: 2;
}
.content.opposite .play-btn {
	left: -10px;
}
