#bsNavbar {
  z-index: 100;
  justify-content: space-between;
}
@media screen and (min-width: 992px) {
  #bsNavbar {
    justify-content: center;
  }
}
#bsNavbar .nav-link {
  color: #fff;
  font-size: 13px;
}
.navbar-brand img {
  width: 55px;
}
#bsNavbarContent {
  flex-grow: 0;
}
#bsNavbarContent .navbar-nav .nav-link:hover {
  color: #57bbbf;
}
.brand-name {
  display: inline-block;
}
